
/* bootstrap-grid requirement */

 * {
   box-sizing: border-box;
 }

.container {
  width: 90%;
}

.row {
 padding: 20px;
}

/****************************************************
 * 	Push Button
 *****************************************************/
.push_button{
	position:relative;
	width:150px;
  height: 100px;
	color:#FFF;
	display:block;
	text-decoration:none;
	margin:0 auto;
	border-radius:50%;
	border:solid 1px #D94E3B;
	background:#cb3b27;
	text-align:center;
	padding:20px 30px;

	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;

	-webkit-box-shadow: 0px 9px 0px #84261a;
        -moz-box-shadow: 0px 9px 0px #84261a;
        box-shadow: 0px 9px 0px #84261a;
}
.push_button:active{
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position:relative;
    top:7px;
}
